<div class="container">
  <div class="login-card">
    <div class="login-form">
      <div class="logo-container">
        <img src="https://i.postimg.cc/zGCNxTv2/logo.png" alt="Logo CPS" class="logo">
      </div>
      <div class="form-actions">
        <button type="button" class="btn" (click)="login()">Entrar com Auth0</button>
        <div class="divider">
          <span class="divider-text">ou</span>
        </div>
        <button href="#" (click)="handleSignUp()" class="btn-secondary" type="button">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
