:root {
  --primary-color: #FFFFFF;
  --secondary-color: #E30000; /* Vermelho */
  --accent-color: #FF4081;
  --text-color: #333333;
  --light-gray: #F5F5F5;
  --medium-gray: #EEEEEE;
  --border-color: #E0E0E0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  color: var(--text-color);
}

.app-container {
  width: 100%;
  min-height: 100vh;
}